.search {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  position: relative;
  max-width: 300px;
  width: 100%;

  input {
    padding: 5px;
    width: 100%;
    border-radius: inherit;
  }

  span {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
  }
}
